# Obsidian
.obsidian/workspace*
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/graph.json
.obsidian/types.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/community-plugins.json

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.temp
